<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сost Сontrol - Stats</title>
</head>
<body>
<h1>Сost Сontrol - Stats</h1>

<table width="50%" border="1" cellspacing="0" cellpadding="4">
    <caption><h2>The most expensive product today:</h2></caption>
    <tr>
        <th>Product</th>
        <th>Cost</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td>{{ most_expensive_product_today.product_name }}</td>
        <td>{{ most_expensive_product_today.cost_product }}</td>
        <td>{{ most_expensive_product_today.date_create_check }}</td>
    </tr>
</table>

<table width="50%" border="1" cellspacing="0" cellpadding="4">
    <caption><h2>The cheapest product today:</h2></caption>
    <tr>
        <th>Product</th>
        <th>Cost</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td>{{ cheapest_product_today.product_name }}</td>
        <td>{{ cheapest_product_today.cost_product }}</td>
        <td>{{ cheapest_product_today.date_create_check }}</td>
    </tr>
</table>
<br>
<a href="{% url 'home:index' %}">Return to Home Page</a>
</body>
</html>