<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail File №{{ file.id }}</title>
</head>
<body>
<table width="25%" border="1" cellspacing="0" cellpadding="4">
    <caption><h2>Detail File №{{ file.id }}:</h2></caption>
    <tr>
        <th>Letter</th>
        <th>Count</th>
    </tr>
    {% for key, value in result_analysis.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>
<p><a href="{% url 'homepage:home' %}">Return to Home Page</a></p>
</body>
</html>