<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form action="{% url 'homepage:result' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="id_file" placeholder="ID File">
    <input type="text" name="title_file" placeholder="Title File">
    <label for="file">Choose file to upload</label>
    <input type="file" id="file" name="file" accept=".txt">
    <p><input type="submit" value="Upload File"></p>
</form>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<p><a href="{% url 'homepage:result' %}">Go to Result Page</a></p>
</body>
</html>