<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result Upload</title>
</head>
<body>
<h2>5 last uploaded files: </h2>
{% for file in last_5_files %}
    <li>Title: {{ file.title_file }}, Upload: {{ file.upload_date }}, <a href="{% url 'homepage:detail' file.id %}">Result
        Analisys File --></a>
    </li>
{% endfor %}
<p><a href="{% url 'homepage:home' %}">Return to Home Page</a></p>
</body>
</html>