<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="{% url 'calc:result' %}" method="post">
    {% csrf_token %}
    <input type="text" name="input_1">
    <select name="list_operators">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="**">**</option>
    </select>
    <input type="text" name="input_2">
    <input type="submit" value="Send">
</form>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
</body>
</html>