<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<p>Last 10 operation:</p>
{% for operation in last_10_operation %}
    <p><b>{{ forloop.counter }}.</b> {{ operation.operand_1 }} {{ operation.operator }} {{ operation.operand_2 }}
        = {{ operation.result_operation }} | {{ operation.date_operation }}</p>
{% endfor %}
<br>
<a href="{% url 'calc:index' %}">На главную страницу</a>
</body>
</html>