<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сost Сontrol - Home Page</title>
</head>
<body>
<h1>Сost Сontrol - Home Page</h1>
<table width="50%" border="1" cellspacing="0" cellpadding="4">
    <caption><h2>5 Last Receipt:</h2></caption>
    <tr>
        <th>Product</th>
        <th>Cost</th>
        <th>Date</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.cost_product }}</td>
            <td>{{ product.date_create_check }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'registration:registration' %}">Add Receipt</a>
<br>
<a href="{% url 'stats:stats' %}">View statistics</a>
</body>
</html>