<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сost Сontrol - Registration Check</title>
</head>
<body>
<h1>Сost Сontrol - Registration Receipt</h1>

<form action="{% url 'registration:result' %}" method="post">
    {% csrf_token %}
    <input type="text" name="product_name" placeholder="Product Name">
    <input type="text" name="product_cost" placeholder="Cost Product">
    <input type="submit" value="Save">
</form>
<br>
<a href="{% url 'home:index' %}">Return to Home Page</a>
</body>
</html>