<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сost Сontrol - Registration</title>
</head>
<body>
<h1>Receipt was quickly added!</h1>
<br>
<a href="{% url 'home:index' %}">Return to Home Page</a>
</body>
</html>