<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label>Number 1:</label>
    <input type="text" name="operand_one"><br>
    <label>Number 2:</label>
    <input type="text" name="operand_two"><br>
    {% for operator in operator_list %}
        <input type="radio" name="operator" id="operator{{ forloop.counter }}" value="{{ operator.operator }}">
        <label for="operator{{ forloop.counter }}">{{ operator.operator }}</label><br>
    {% endfor %}
    <input type="submit" value="Result">
</form>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
</body>
</html>